#lineup {
}

.lineup {
  display: flex;
  justify-content: space-between;
}

.drinks-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.drinks {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.drink-wrapper {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 192px;
}

.drink {
  margin: auto 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.buy {
  font-size: 80px;
  margin: 30px 0;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 5px;
  color: #333;
  display: flex;
  justify-content: center;
}

.drink-img {
  width: 100%;
  height: 80%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.buy-button {
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  margin: auto 20px auto 0;
  font-size: 80px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 5px;
}
