#lineup {
}

.lineup {
  display: flex;
  justify-content: space-between;
}

.drinks-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.drinks {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.drink-wrapper {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 192px;
}

.drink {
  margin: auto 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.price {
  font-size: 80px;
  margin: 30px 0;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 5px;
  color: #333;
}

.drink-img {
  width: 100%;
  height: 80%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.right-control-wrapper {
  padding: 192px 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-control-wrapper {
  padding: 192px 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-control {
  color: rgba(0, 0, 0, 0.5);
  margin: 0 20px;
}

.carousel-control-inactive {
  color: rgba(0, 0, 0, 0.2);
  margin: 0 20px;
}

.index-control-wrapper {
  margin: 30px 0;
}

.index-control {
  display: flex;
  justify-content: center;
}

.index {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.focus-index {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
